.DS_Store
.settings
.classpath
.project
.recommenders
.metadata
.factorypath
bin/
tmp/
target/*
*/.idea*
.idea/.name
.idea/compiler.xml
.idea/copyright/
.idea/libraries/Maven__org_apache_camel_camel_blueprint_2_15_1_redhat_621084.xml
.idea/libraries/Maven__org_apache_camel_camel_core_osgi_2_15_1_redhat_621084.xml
.idea/libraries/Maven__org_apache_camel_camel_core_xml_2_15_1_redhat_621084.xml
.idea/libraries/Maven__org_apache_camel_camel_http4_2_15_1_redhat_621084.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
/.idea/
*.iml
